.wrap {
  padding-top: 60px;
  padding-bottom: 60px;
}

.wrap-large {
  padding-top: 250px;
  padding-bottom: 250px;
}
.button.primary {
  background-color: $btn-bg-color;

  &:hover {
    background-color: $btn-hover-bg-color;
  }

  a {
    color: white;
  }
}
