%nav.top-bar.hide-for-small
  %ul.title-area
    %li.name
      %h1
        %a{href: '/'}
          = "刀刀故事"
  %section.top-bar-section
    %ul.right
      / %li
      /   %a{href: 'http://tinysou.com/about/'}= "关于我们"
      %li
        %a{href: '/cn/all.html'}
          %i.fa.fa-list
          = "所有故事"
      %li
        %a{href: '/'}
          %i.fa.fa-home
          = "首页"
