<html>
<head>
  <title>My Site</title>
  <link rel="stylesheet" href="/stylesheets/blog.css">
  <link rel="stylesheet" href="/stylesheets/layout.css">

</head>
<body>
    <h2>Tags</h2>
      <ol>
        <% blog.tags.each do |tag, articles| %>
          <li><%= link_to "#{tag} (#{articles.size})", tag_path(tag) %></li>
        <% end %>
      </ol>
  <%= yield %>
</body>
</html>
