---
title: daodao-is-coming
date: 2014-12-23 08:29 UTC
tags: life
---

<div>
    <div class="navbar">
       <div class="navbar-inner">
          <ul class="nav ">
            <li class="active"><a  id="one" href="2014.11.18learn yuetai.html">首页</a></li>
            <li><a  id="two" href="#">简介</a></li>
            <li ><a id="three" href="#">萌图</a></li>
            <li><a  id="four" href="#">搞笑趣事</a></li>
            <li ><a id="five"href="#">有待提高？</a></li>
          </ul>
       </div>
    </div>

    <div id="dao">
      <h1>帅萌的狗狗－－刀刀</h1>
       <p id="monkey">
        <image src="/images/1218_13.jpg" width="400" height="500">
          酷似孙悟空版的小刀！
       </p>
       <p id="friend">
        <image src="/images/1218_10.jpg" width="600" height="400">
          这俩不知道在捣鼓what～～～
       </p></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
    </div>

    <div class="daodao">
       <h2> <span class="resume">刀刀狗狗简历：</span></h2></br>
        <span class="years">年龄：</span>５岁(实际５个月大，主银定为５岁滴～～);</br>
        <span class="hobby">爱好：</span>吃各种（能吃的不能吃的都要喂嘴里试试，嘿嘿，敢于尝试的狗狗！！！）;</br>
        <span class="ability">独特技能：</span>sit，各种跳跃，甩头;<br>
        <span class="series">品种：</span>泰迪犬（我们刀刀的智商可是杠杠滴～～）</br>
        <span class="develop">有待提高：</span>定位ＷＣ，有追求，有风度</br>
        <h3>OK,that's all !!!</h3></br>
    </div>

    <div>
    <p id="owner">
      <img src="/images/1218_21.jpg" class="img-polaroid"  width="350" height="500">刀刀的呆萌主人～～～～</p>
    <p id="clever" >
      <img src="/images/1218_16.jpg"   class="img-circle" width="350" height="500" >
      再来一幅萌图！！</p>
    </div>

    <div>
      <i class="icon-music"><a href="#"></i>
      <i class="icon-envelope"><a href="#"></i>
    </div>

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</div>
