---
title: Welcome to Middleman
---

= stylesheet_link_tag  "application"
= javascript_include_tag "application"
= javascript_include_tag "home"

.introduction
  .inline-svg.draw{:'data-src' => '/images/daodao.svg'}
.master
.personality
.enter
.info
