---
title: Welcome to Middleman
---

= stylesheet_link_tag  "application"
= javascript_include_tag "application"
= javascript_include_tag "home"

.introduction
  .wrap
    .inline-svg.draw.timer{:'data-src' => '/images/daodao.svg', :'data-timer-v' => 0}
.master
.personality
.enter
.info
